/*
 * DOCUMENT INFORMATION
 * Document= Styling of the HTML5 page template
 * Author= Zoe Verstappen
 * Project = Webbased assignement 'implementing mvc'
*/

html, head, body{
    margin:0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
table{
    width: 50%;
    font-size: 15px;
}
.title{
    background-color: darkred;
    color: white;
    padding: 20px;
    margin: 0;
}
div{
    padding-left: 20px;
    width: 75%;
    font-size: 20px;
}