<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{tab.title}">Species Browser</title>
    <link rel="stylesheet" type=text/css th:href="@{/css/home.css}">
</head>
<body>
<h2 class="title" th:text="#{page.title}">offline title</h2>
<br>
<div>
    <form method=POST action="/login">
        <label for="username">Username</label>:<br>
        <input id="username" type="text" name="username"><br>
        <label for="password">Password</label>:<br>
        <input id="password" type="password" name="password"><br>
        <br>
        <label class="login_field"> </label>
        <input type="submit" value="Submit"/>
    </form>
</div>
<br>
<div>
    <span th:text="${message}"></span>
</div>
</body>
</html>