<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{tab.title}">Species Browser</title>
    <link rel="stylesheet" type=text/css th:href="@{/css/home.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 class="title" th:text="#{page.title}">offline title</h2>
<br>
<div>
    <strong class="summary" th:text="#{page.summary}"></strong>
    <p th:utext="#{page.info}"></p>

    <table>
        <thead>
        <tr>
            <th th:text="#{table.title}"></th>
            <th th:text="#{table.info}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cat:${cats}" th:object="${cats}">
            <td th:if="${#locale.getLanguage() == 'nl'}" th:text="${cat.getValue().dutchName}">_title_</td>
            <td th:unless="${#locale.getLanguage() == 'nl'}" th:text="${cat.getValue().englishName}">_title_</td>
            <td>  <a th:href="@{/species.detail(cat_species=${cat.getKey().replace(' ', '_')})}" href="#">link</a> </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="template.html :: history"></div>
</body>
</html>