<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>_TITLE_</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/home.css">
</head>
<body>
<div th:fragment="history">
    <h4>History</h4>
    <div th:if="*{not session.history.isEmpty()}" th:each="page: *{session.history}">
        <span th:text="${page}"></span>
    </div>
</div>

</body>
</html>