/*
 * DOCUMENT INFORMATION
 * Document= Styling of the HTML5 page template
 * Author= Zoe Verstappen
 * Project = Webbased assignement 'thymeleaf'
*/

html, head, body{
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
table{
    width: 50%;
}
.title{
    background-color: cadetblue;
    color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.summary{
    font-size: large;
}

div{
    padding-left: 30px;
    width: 75%;
    font-size: 16px;
}

